:root {
    --jp-primaryColor: rgb(245, 170, 193);
    --jp-secondaryColor: rgb(168, 99, 120);
    --formFocusColor: var(--jp-secondaryColor);
    --formFocusShadowColor: rgba(214, 80, 143, 0.555);
}

 .sticky-nav {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
 }

 body {
     font-family: 'Roboto', sans-serif;
     }

.form-control:focus {
    border-color: var(--formFocusColor);
    box-shadow: 0 0 0 .25rem var(--formFocusShadowColor);
}

 .title {
    font-family: 'Aguafina Script', cursive;
 }
 /* default styles */
.header {

     background-repeat: no-repeat;
     background-position: fixed;
     background-size: cover;
     background-color: rgb-(216, 163, 180);
     background-image: rbg(217, 192, 182, .7)
 }

 /* show big image on bigger screens    */
 @media only screen and (min-width: 992px) {
     .header {
         background-image: url("/img/JillPrestonLarge.png");
         min-height: 400px;
     }
 }

 /* show small image on smaller screens   */
 @media only screen and (min-width: 576px) and (max-width: 991px) {
     .header {
         background-image: url("/img/JillPrestonSmall.png");
     }
 }